@tailwind base;
@tailwind components;
@tailwind utilities;
.dark {
    width: 100%;
    background-color: black;
    color: white;
 }
 .light {
    width: 100%;
    /* background-color: #6096B4;    */
    background: linear-gradient(90deg,#6096B4 0%, #EEE9DA 100%);
    color: black;
 }
::-webkit-scrollbar-thumb {
   background-image: linear-gradient(to right bottom, #6096B4, #EEE9DA);
}
::-webkit-scrollbar {
   width: 8px;
   height: 0px;
}